.footer-menu > ul > li.active > a {
    color: #828282;
}

h1.section-title,
.section-title-block h1 {
    font-size: 16px;
    text-transform: uppercase;
}

.about-mission-info-descr .d-lg-block {
    margin-bottom: 1rem;
}

.modal-photo-thumb-slide-item-img {
    aspect-ratio: 254 / 135;
    overflow: hidden;
}

.modal-photo-slide-img .image,
.modal-photo-thumb-slide-item-img .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.field.field--error input,
.field.field--error textarea,
.custom-checkbox-label--error .custom-checkbox {
   border-color: red;
}

.fb-modal--form-success p {
    text-align: center;
}

.s-learning-info-img img {
    display: block;
    max-width: 100%;
}

.section-rent {
    padding-top: 15px;
}

.section-rent .s-rent-title-block {
    padding-left: 0;
}

a.video {
    display: block;
}

.video-iframe-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-iframe {
    border: none;
    height: 100%;
}

.course-top-info-type {
    max-width: 100px;
}

.course-top--purple,
.course-top--purple::before,
.course-top--purple .course-top-info-photo-item-more,
.course-top--purple .course-top-info-alt-params-block {
    background-color: #D1C8FE;
}

.course-top--grey,
.course-top--grey::before,
.course-top--grey .course-top-info-photo-item-more,
.course-top--grey .course-top-info-alt-params-block {
    background-color: #D2D2D3;
}

@media (min-width: 768px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 24px;
    }

    .section-rent {
        padding-top: 28px;
    }
}

@media (min-width: 1200px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 28px;
    }
}

@media (min-width: 1500px) {
    h1.section-title,
    .section-title-block h1 {
        font-size: 32px;
    }
}